.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 900px;
}

.main ol {
  font-family: 'Fira Code', monospace;
  padding-left: 1.2rem;
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.main li:not(:last-of-type) {
  margin-bottom: 10px;
}

.main code {
  font-family: 'Fira Code', monospace;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  border-radius: 9999px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  transition: all 0.2s;
  text-decoration: none;
}

a.primary {
  background-color: #facc15;
  color: #1e293b;
  gap: 8px;
}

a.primary:hover {
  background-color: #fbbf24;
}

a.secondary {
  border-color: rgba(255,255,255,0.1);
  min-width: 158px;
  color: #facc15;
}

a.secondary:hover {
  background-color: rgba(255,255,255,0.1);
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #facc15;
  text-decoration: none;
}

.footer a:hover {
  color: #fbbf24;
  text-decoration: underline;
}

.footer img {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
